<div class="full">
    <div class="heading">
        <h1><u>ABOUT US</u></h1>
        <p> A scholarship is a form of financial aid awarded to students for further education.Generally scholarship is awraded based on a set of criteria such as academic merit ,diversity and inclusion and financial need</p>
    
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img id="scholarship" src="https://o.remove.bg/downloads/1661cb88-ba35-42e3-8aa5-e8862698e60c/SCHOLARSHIPS-removebg-preview.png"  alt="about-img">
                </div>
            <div class="about-content">
                <h1>what sets us apart?</h1>
                <p> Scholarship_hub offers a simple and accessible approach to finding and applying scholarships for students of all ages  </p>
                <h1>We update our scholarship data daily</h1>
                <p>Our hard-working, dedicated staff is adding and updating scholarships in our database. we respond to feedback to quickly </p>
            </div>
        </section>
    </div>
</div>

