  <div class="container">
    <nav>
      <div class="logo">
        <img src="https://o.remove.bg/downloads/9f2d109a-d0d7-4c45-a3f2-c11dc3c1a102/images-removebg-preview.png" alt="logo" height="100px"  width="130px">
        <h1>Scholarship<span>_hub</span></h1>
      </div>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services" >Services</a></li>
      </ul>
      <div class="buttons">
        <a routerLink="/login" class="btn btn-primary">Log in</a>&nbsp;
        <a routerLink="/register" class="btn btn-primary">Register</a>
      </div>
    </nav>
</div>



<router-outlet></router-outlet>
