<div class="user">
  
<marquee width="90%" direction="left" height="50px" >
  <b><mark>NOTICE:</mark></b> Appications are opened for scholarships 2023-2024!! Students who have passed 12th and a full time graduate can apply on or before 5-10-2023
 
   </marquee>
 <div class="content">
   <div class="content-container">
    <h1>
      MAKE YOUR EDUCATIONAL DREAMS INTO REALITY...
    </h1>
   </div>
  </div>
  </div>
 
  <div class="footer">
   <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
     <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
     <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
   </svg>
   <h3>---Connecting Scholarship Seekers with Scholarship Providers---</h3>
 </div>
   <!-- <div class="link">
     <a href="#" class="hire">Hire Me</a>
   </div> --> 
